server:
  port: ${PORT:8081}

spring:
  application:
    name: auth-service
  datasource:
    url: ${MASTER_DATABASE_URL:jdbc:mysql://localhost:3306/inittest}
    username: ${MASTER_DATABASE_USER:root}
    password: ${MASTER_DATABASE_PWD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USER:chieng6600@gmail.com}
    password: ${MAIL_PASSWORD:krpkjexzucnqmyep}
    properties:
      debug: false
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
app:
  frontend:
    reset-password-url: "${RESET_LINK:http://localhost:5173}"

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    fetch-registry: true
    registry-with-eureka : true

management:
  endpoint:
    gateway:
      enabled: true

key:
  rotation-ms: "${KEY_ROTATION_MS:120000}"
  jwt-expiration-ms: "${JWT_EXPIRATION_MS:180000}"