version: "3.9"

services:
  # === Nginx Reverse Proxy ===
  nginx-auth-proxy:
    image: nginx:alpine
    container_name: nginx-auth-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend-basic
      - backend-jwt
    networks:
      - auth-net
    restart: unless-stopped

  # === MySQL ===
  mysql:
    image: mysql:8
    container_name: auth-mysql
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: auth
      MYSQL_USER: root
      MYSQL_PASSWORD: 123456
      MYSQL_ROOT_HOST: "%"
    volumes:
      - auth-mysql:/var/lib/mysql
    networks:
      - auth-net
    restart: unless-stopped

  # === Backend JWT ===
  backend-jwt:
    build:
      context: ./backend-jwt
    container_name: auth-backend-jwt
    environment:
      PORT: 8081
      MASTER_DATABASE_URL: jdbc:mysql://mysql:3306/auth
      MASTER_DATABASE_USER: root
      MASTER_DATABASE_PWD: 123456
      CORS_ORIGINS: "http://basicauth.nani.id.vn"
      RESET_LINK: "http://basicauth.nani.id.vn"
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 587
      MAIL_USERNAME: chieng6600@gmail.com
      MAIL_PASSWORD: krpkjexzucnqmyep
      MAIL_SMTP_AUTH: "true"
      MAIL_SMTP_STARTTLS_ENABLE: "true"
    expose:
      - "8081"
    networks:
      - auth-net
    restart: unless-stopped

  # === Backend Basic ===
  backend-basic:
    build:
      context: ./backend-basic
    container_name: auth-backend-basic
    environment:
      PORT: 8082
      MASTER_DATABASE_URL: jdbc:mysql://mysql:3306/auth
      MASTER_DATABASE_USER: root
      MASTER_DATABASE_PWD: 123456
      CORS_ORIGINS: "http://basicauth.nani.id.vn"
      RESET_LINK: "http://basicauth.nani.id.vn"
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 587
      MAIL_USERNAME: chieng6600@gmail.com
      MAIL_PASSWORD: krpkjexzucnqmyep
      MAIL_SMTP_AUTH: "true"
      MAIL_SMTP_STARTTLS_ENABLE: "true"
    expose:
      - "8082"
    networks:
      - auth-net
    restart: unless-stopped

  # === Frontend ===
  frontend:
    build:
      context: ./frontend
    container_name: auth-frontend
    expose:
      - "80"
    networks:
      - auth-net
    restart: unless-stopped

# === Networks ===
networks:
  auth-net:

# === Volumes ===
volumes:
  auth-mysql:
